@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Hachi+Maru+Pop&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
}

header h1 {
  margin: 2rem;
  color: #164b60;
  font-family: 'Bungee Shade', cursive;
  font-size: 450%;
}

.searchHeader {
  color: gray;
}

.searchInput {
  margin: 0 auto 1rem;
  text-align: center;
}

#cityThings {
  margin: 1rem 0;
  height: 3rem;
  color: #164b60;
  font-family: 'Hachi Maru Pop', cursive;
}

#cityInput {
  text-decoration: underline;
  text-underline-offset: 15%;
  line-height: 20%;
  color: black;
}

.cards {
  width: 500px;
  padding: 2rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  margin: 0 2rem;
}

.displayMovies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  background-color: lightslategray;
}

.movieCards {
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  margin: 2rem 2rem;
}

.movieCardImg {
  object-fit: cover;
}

.displayLocation {
  display: flex;
  margin: 0 auto 2rem;
}

h3 {
  background-color: white;
}

footer {
  padding-top: 3rem;
}
